name: Continuous Integration

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore --verbosity minimal
    
    - name: Build
      run: dotnet build --no-restore --configuration release --verbosity minimal
    
    - name: Test
      run: dotnet test --no-build --configuration release --verbosity minimal
